# 編譯/暫存
*.class
*.log
*.pyc
*.swp
*.bak
.DS_Store
Thumbs.db
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
tmp/
cache/
test/output/

# IDE
*.iml
*.ipr
*.iws
.idea/

# VS Code
# .vscode/

# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
flutter_build/
coverage/
**/doc/api/
**/ios/Flutter/.last_build_id

# Android/iOS
android/.gradle/
android/app/build/
android/app/debug
android/app/profile
android/app/release
ios/Pods/
ios/DerivedData/

# 平台
linux/build/
macos/build/
windows/build/

# Node.js
node_modules/

# Python
env/
venv/
__pycache__/
*.pyc

# Secret/Config
.env
env-config/

# CMake/CPP
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Symbolication/Obfuscation
app.*.symbols
app.*.map.json

# 其他
.ipynb_checkpoints/
pip-log.txt
